# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env
*.env

# Virtual environment
venv/
env/
ENV/
.venv/
.Python

# VS Code settings
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Test cache
.coverage
.tox/
.nox/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

# System Files
Thumbs.db
ehthumbs.db

# Windows Batch Files
up.bat